body{
    font-family: 'Shantell Sans', cursive;
    background-color: rgb(221, 172, 231);
}
* {
    box-sizing: border-box;
}
.toptext {
    color: white;
}
.meddiumtext{
    font-size: 30px; 
    color: white;
}
.bottomtext{
    font-size: 14px;
    color: white;
}
.logo{
    width: 150px;
}
.toptextmeny{
    text-transform: uppercase;
}
.rigtmeny a {
    color: black;
    text-decoration: none;
    margin: 10px;
    text-transform: capitalize;
}
.rigtmeny a:hover {
    box-shadow: 0 0 20px black(36, 36, 160);
}
.bottomlefttop{
    font-size: 44px;
    color: pink;
    margin: 20px;
    line-height: 44px;
}
.bottomleftbottom{
    background-color: palevioletred;
    color: aliceblue;
    box-shadow: 0 0 12px rgb(13, 13, 14);
    border: none;
    padding: 20px;
    border-radius: 10px;
    transition: all 2s;

}
.bottomleftbottom:hover {
    box-shadow: 0 0 25px rgb(36, 36, 160);
    background-color: rgb(31, 19, 138);
    color:palevioletred ;

}
.fon{ 
    display: flex;
    align-items: center;
    height: 100vh;

}
.top{
    display: flex;
    align-items: center;
}
.leftmeny{
    margin-right: 50px;
    display: flex;
    align-items: center;

}
.right{
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 0 9px rgb(13, 13, 14);
    padding: 35px;
    height: 70%;
    
}
.big{
    position: absolute;
    width: 500px;
    right: 0;
    top: 25%;
}
.bottomleft{
    width: 60%;
}

.rect {
    width: 70px;
    height: 3px;
    background-color: #dd78cc;
    transform: translate(90px, -50px);
}

    
    

